<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Snyk test report</title>
  <meta name="description" content="{{uniqueCount}} known vulnerabilities found in {{summary}}.">
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.png"
    sizes="194x194">
  <link rel="shortcut icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.ico">
  {{> inline-css }}
</head>

<body class="section-projects">
  <main class="layout-stacked">
    {{> header }}
    <div class="layout-stacked__content">
      <div class="layout-container--short" style="padding-top: 35px;">
        <div class="cards--vuln">
          <h2>No remediation</h2>
          {{#each unresolved.vulnerabilities}}
          {{> vuln-card showSummaryOnly=../showSummaryOnly}}
          {{/each}}
        </div><!-- cards -->
      </div>
    </div><!-- .layout-container -->


  </main><!-- .layout-stacked__content -->
</body>

</html>
