<section class="layout-container--short">
    <table class="metatable">
        <tbody>
        <tr class="meta-row"><th class="meta-row-label">Project</th> <td class="meta-row-value">{{projectName}}</td></tr>
        <tr class="meta-row"><th class="meta-row-label">Path</th> <td class="meta-row-value">{{path}}</td></tr>
        <tr class="meta-row"><th class="meta-row-label">Package Manager</th> <td class="meta-row-value">{{packageManager}}</td></tr>
        <tr class="meta-row"><th class="meta-row-label">Manifest</th> <td class="meta-row-value">{{displayTargetFile}}</td></tr>
        </tbody>
    </table>
</section>
