<section class="layout-container">
    <table class="metatable">
        <tbody>
        {{#if projectName}}<tr class="meta-row"><th class="meta-row-label">Project</th> <td class="meta-row-value">{{projectName}}</td></tr>{{/if}}
        {{#if path}}<tr class="meta-row"><th class="meta-row-label">Path</th> <td class="meta-row-value">{{path}}</td></tr>{{/if}}
        {{#if packageManager}}<tr class="meta-row"><th class="meta-row-label">Package Manager</th> <td class="meta-row-value">{{packageManager}}</td></tr>{{/if}}
        {{#if displayTargetFile}}<tr class="meta-row"><th class="meta-row-label">Manifest</th> <td class="meta-row-value">{{displayTargetFile}}</td></tr>{{/if}}
        </tbody>
    </table>
</section>