data
/.nyc_output/
/node_modules/
.DS_Store
npm-debug.log
/dist/
/output/
*.orig
.eslintcache
.idea/
coverage/

# Playwright
node_modules/
/test-results/
playwright-output/
playwright-report/
/blob-report/
/playwright/.cache/

# Don't accidentally add non-linux snapshots to the VRTs
test/vrt/**/*.png
!test/vrt/**/*-linux.png
