{
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "build the alpine, macos, linux and windows binaries",
      "path": "@semantic-release/exec",
      "cmd": "npm i -g pkg@5.8.1 && pkg . --options max_old_space_size=16384 -t node14-alpine-x64,node14-linux-x64,node14-macos-x64,node14-win-x64"
    },
    {
      "//": "shasum all binaries",
      "path": "@semantic-release/exec",
      "cmd": "shasum -a 256 snyk-to-html-linux > snyk-to-html-linux.sha256 && shasum -a 256 snyk-to-html-macos > snyk-to-html-macos.sha256 && shasum -a 256 snyk-to-html-win.exe > snyk-to-html-win.exe.sha256 && shasum -a 256 snyk-to-html-alpine > snyk-to-html-alpine.sha256"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./snyk-to-html-linux",
          "name": "snyk-to-html-linux",
          "label": "snyk-to-html-linux"
        },
        {
          "path": "./snyk-to-html-linux.sha256",
          "name": "snyk-to-html-linux.sha256",
          "label": "snyk-to-html-linux.sha256"
        },
        {
          "path": "./snyk-to-html-macos",
          "name": "snyk-to-html-macos",
          "label": "snyk-to-html-macos"
        },
        {
          "path": "./snyk-to-html-macos.sha256",
          "name": "snyk-to-html-macos.sha256",
          "label": "snyk-to-html-macos.sha256"
        },
        {
          "path": "./snyk-to-html-win.exe",
          "name": "snyk-to-html-win.exe",
          "label": "snyk-to-html-win.exe"
        },
        {
          "path": "./snyk-to-html-win.exe.sha256",
          "name": "snyk-to-html-win.exe.sha256",
          "label": "snyk-to-html-win.exe.sha256"
        },
        {
          "path": "./snyk-to-html-alpine",
          "name": "snyk-to-html-alpine",
          "label": "snyk-to-html-alpine"
        },
        {
          "path": "./snyk-to-html-alpine.sha256",
          "name": "snyk-to-html-alpine.sha256",
          "label": "snyk-to-html-alpine.sha256"
        }
      ]
    },
    {
      "//": "upload to s3",
      "path": "@semantic-release/exec",
      "cmd": "./scripts/upload-to-s3.sh ${nextRelease.version}"
    }
  ]
}
