<section class="layout-container">
    <table class="metatable">
        <tbody>
        {{#if targetFile}}<tr class="meta-row"><th class="meta-row-label">Project</th> <td class="meta-row-value">{{targetFile}}</td></tr>{{/if}}
        {{#if targetFilePath}}<tr class="meta-row"><th class="meta-row-label">Path</th> <td class="meta-row-value">{{targetFilePath}}</td></tr>{{/if}}
        {{#if projectType}}<tr class="meta-row"><th class="meta-row-label">Project Type</th> <td class="meta-row-value">{{projectType}}</td></tr>{{/if}}
        </tbody>
    </table>
</section>